nav
    background: #760505
    height: 6.616862326574173vh
    width: 100%

nav h1
    color: #FFFFFF
    font-family: 'Italianno', cursive
    text-shadow: 2px 2px #161616
    margin-left: 18px

nav li
    margin-right: 20px

nav li:hover
    background-color: #161616

nav a
    padding: 5px
    margin: 0
    text-decoration: none
    color: #FFFFFF

nav a:hover
    color: #FFFFFF

@media (max-width: 1024px)
    nav li
        display: none