<div class="container">
    <div class="elements">
        <h1>Kitchen Inventory Management</h1>
    </div>
    <div class="buttons">
        <button (click)=toggle() mat-raised-button color="primary">Add Ingredient</button>
        <button mat-raised-button color="primary">Edit Ingredient</button>
        <button mat-raised-button color="primary">Delete Ingredient</button>
    </div>

    <div [hidden]="isShow" class="wrapper">
        <div class="container">
            <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="IngredientName">Ingredient Name</label>
                    <input 
                      type="text" 
                      formControlName="IngredientName" 
                      class="form-control" 
                      id="IngredientName"
                      aria-describedby="emailHelp"
                      name="IngredientName"
                      placeholder="Enter employee email"
                      required
                      email/>
                </div>
                <div class="form-group">
                   <label for="quantityNum">Quantity</label>
                   <input type="text" 
                      formControlName="quantityNum" 
                      class="form-control" 
                      id="quantityNum"
                      placeholder="Enter employee password"/>
                </div>
                <div class="form-group">
                    <label for="locationName">Location</label>
                    <input type="text" 
                       formControlName="locationName" 
                       class="form-control" 
                       id="locationName"
                       placeholder="Enter employee password"/>
                 </div>
                <div class="form-group">
                    <button mat-raised-button color="primary" type="submit" id="login-button">Add Ingredient</button>
                </div>
            </form>
        </div>
    </div>
    <br><br><br>
    <table datatable class="row-border hover">
        <thead>
            <tr>
                <th *ngFor = "let column of headers">
                    {{column}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let item of FoodItems">
                <td *ngFor = "let column of headers">
                    {{item[column]}}
                </td>
            </tr>
        </tbody>
    </table>
</div>