mat-toolbar
    border-top: 3px solid #00003E
    border-left: 3px solid #00003E
    border-right: 3px solid #00003E
    background-color: #A8B8E5
    h1
        margin: 0 auto
        font-family: Candara
        color: #00003E
        
.full-width
    width: 100%

mat-card
    border-bottom: 3px solid #00003E
    border-left: 3px solid #00003E
    border-right: 3px solid #00003E

mat-card-content
    height: 425px 
    overflow-y: auto


#form-room-reservation
    background-color: #E8DCF0
    text-align: center

h5
    font-family: Candara
    padding-top: 8px

#room-blueprint img
    display: inline-block

mat-radio-button
    margin-left: 10px

#ballroom
    position: relative
    top: -240px
    left: -200px

#activity-room
    position: relative
    top: -370px
    left: -42px

#meeting-room
    position: relative
    top: -368px
    left: 172px

#other-room
    position: relative
    top: -78px
    left: -88px

mat-card-actions
    text-align: center