<!-- Banner -->
<section id="banner">
  <div class="central">
    <h1>Your Event, Made Great.</h1>
    <span id="stars">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
  </div>
  <a href="#request-form" class="scroll">REQUEST EVENT</a>
</section>

<!-- Request form -->
<section id="request-form">
  <div class="wrapper">
      <div class="container">
        <form class="my-form">
            <mat-form-field class="full-width">
                <mat-label>First Name</mat-label>
                <input matInput name="fname" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Last Name</mat-label>
                <input matInput name="lname" required>
            </mat-form-field>
            <br>
            <mat-form-field class="full-width">
                <mat-label>Phone Number</mat-label>
                <input matInput name="phoneNum" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input matInput name="email" required>
            </mat-form-field>
            <br>
            <mat-radio-group>
                <label labelPosition="before">I am requesting a:</label> 
                <mat-radio-button value="oneDay">One day event</mat-radio-button>
                <mat-radio-button value="multipleDays">Multiple day event</mat-radio-button>
            </mat-radio-group>
            <br>
            <mat-form-field>
                <mat-label>Event Request Date</mat-label>
                <input matInput [matDatepicker]="picker2" required>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Event Request Dates</mat-label>
                 <input matInput [satDatepicker]="picker" [value]="date" required>
                 <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
                 <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
            </mat-form-field>
            <mat-form-field>
                <mat-label for="eventTime">Time</mat-label>
                <input matInput type="time" id="eventTime" name="eventTime" min="08:00" max="17:00" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Room Selection</mat-label>
                <select matNativeControl required>
                    <option value="ballroom">Ballroom (occupancy 150)</option>
                    <option value="ballroom-a">Ballroom A (occupancy 75)</option>
                    <option value="ballroom-b">Ballroom B (occupancy 75)</option>
                </select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Menu Selection</mat-label>
                <select matNativeControl required>
                    <option value="steak">Steak & Shrimp</option>
                    <option value="pizza">Gourmet Pizza</option>
                    <option value="lasagna">Italian Lasagna</option>
                </select>
            </mat-form-field>
        </form>
        <button mat-raised-button (click)="request()" color="primary">REQUEST</button>
      </div>
  </div>
</section>