*
    margin: 0
    padding: 0

nav
    background: #760505
    height: 6.616862326574173vh
    width: 100%

mat-icon
    color: #FFFFFF
    font-size: 35px
    margin-left: 10px
    padding-bottom: 40px

nav h1
    color: #FFFFFF
    font-family: 'Italianno', cursive
    text-shadow: 2px 2px #161616
    margin-left: 18px

nav li
    background-color: #FFFFFF
    border: 1px solid #000000
    border-radius: 4px
    margin-right: 20px

nav li:hover
    background-color: #161616

nav a
    padding: 5px
    margin: 0
    text-decoration: none
    color: #000000

nav a:hover
    color: #FFFFFF

@media (max-width: 1024px)
    nav li
        display: none