<!-- Employee Login -->
<section id="login">
   <div class="container">
      <form>
         <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter employee email">
            <small id="emailHelp" class="form-text text-muted">Brookings Activity Center employee emails end with @bac.com</small>
         </div>
         <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter employee password">
         </div>
      </form>
      <button mat-raised-button (click)="login()" color="primary">LOGIN</button>
   </div>
 </section>
