<!-- Client Request Markup -->
<!-- <h1>Welcome to the Brookings Activity Center!</h1>
<h2>Make a request below</h2>
<form>
    <div class="form-group">
        Event Request Date:
        <input type="date" name="day">
    </div>
    <div class="form-group">
        Request a Room:
        <select>
            <option value="ballroom">Entire Ballroom (10 occupancy)</option>
            <option value="ballroom-a">Ballroom A (50 occupancy)</option>
            <option value="ballroom-b">Ballroom B (50 occupancy)</option>
            <option value="dining-hall">Dining Hall (40 occupancy)</option>
        </select>
    </div>
    <div class="form-group">
        Select a Menu Dish:
        <select>
            <option value="fish-and-chips">Fish & Chips</option>
            <option value="gourmet-pizza">Gourmet Pizza</option>
            <option value="steak-and-shrimp">Steak & Shrimp</option>
            <option value="lobster">Lobster</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Request</button>
</form> -->
<mat-toolbar>
    <mat-toolbar-row>
        <h1>Request an Event</h1>
    </mat-toolbar-row>
</mat-toolbar>
<mat-card class="my-card">
    <mat-card-content>
        <form class="my-form">
            <mat-form-field class="full-width">
                <mat-label>First Name</mat-label>
                <input matInput placeHolder="First Name" name="fname" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Last Name</mat-label>
                <input  matInput  placeholder="Last Name" name="lname"  required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Phone Number</mat-label>
                <input  matInput  placeholder="Phone Number" name="phoneNum"  required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input  matInput  placeholder="Email" name="email">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Event Request Date</mat-label>
                <input matInput [matDatepicker]="picker2" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Event Request Dates</mat-label>
                 <input matInput placeholder="Choose a date" [satDatepicker]="picker" [value]="date">
                 <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
                 <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="request()" color="primary">REQUEST</button>
    </mat-card-actions>
</mat-card>