mat-toolbar
    border-top: 3px solid #00003E
    border-left: 3px solid #00003E
    border-right: 3px solid #00003E
    background-color: #A8B8E5
    h1
        margin: 0 auto
        font-family: Candara
        color: #00003E

mat-card
    border-bottom: 3px solid #00003E
    border-left: 3px solid #00003E
    border-right: 3px solid #00003E

mat-form-field
    width: 100%

mat-radio-button
    margin-left: 10px

mat-card-actions
    text-align: center