<!-- Client Request Markup -->
<h1>Welcome to the Brookings Activity Center!</h1>
<h2>Make a request below</h2>
<form>
    <div class="form-group">
        Event Request Date:
        <input type="date" name="day">
    </div>
    <div class="form-group">
        Request a Room:
        <select>
            <option value="ballroom">Entire Ballroom (10 occupancy)</option>
            <option value="ballroom-a">Ballroom A (50 occupancy)</option>
            <option value="ballroom-b">Ballroom B (50 occupancy)</option>
            <option value="dining-hall">Dining Hall (40 occupancy)</option>
        </select>
    </div>
    <div class="form-group">
        Select a Menu Dish:
        <select>
            <option value="fish-and-chips">Fish & Chips</option>
            <option value="gourmet-pizza">Gourmet Pizza</option>
            <option value="steak-and-shrimp">Steak & Shrimp</option>
            <option value="lobster">Lobster</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Request</button>
</form>