<!-- Menu System -->
<app-menu-banner></app-menu-banner>
<div class="menu">
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="../../../assets/images/steak.jpg" alt="Steak & Shrimp">
            <div class="card-body">
            <h5 class="card-title">Steak & Shrimp</h5>
            <p class="card-text">Grilled ribeye steak slathered in garlic butter shrimp and decorated with a lemon slice and a side of vegetables.</p>
            <p class="card-text"><small class="text-muted">Per person price: $14.99 (10 person minimum)</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../../assets/images/pizza.jpg" alt="Gourmet Pizza">
            <div class="card-body">
            <h5 class="card-title">Gourmet Pizza</h5>
            <p class="card-text">Cheesy gourmet Italian pizza with homemade dough topped with olives, a selection of cheeses, green peppers, mushrooms, pepperoni and onions and baked to a golden brown.</p>
            <p class="card-text"><small class="text-muted">Per person price: $7.99 (5 person minimum)</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../../assets/images/lasagna.jpg" alt="Italian Lasagna">
            <div class="card-body">
            <h5 class="card-title">Italian Lasagna</h5>
            <p class="card-text">Sweet Italian sausage and seasoned ground beef marinated together with ricotta cheese, tomato sauce, spinach and mushrooms and oven-baked to perfection.</p>
            <p class="card-text"><small class="text-muted">Per person price: $8.99 (6 person minimum)</small></p>
            </div>
        </div>
        </div>
        <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="../../../assets/images/burger.jpg" alt="Juicy Lucy Cheeseburgers & Fries">
            <div class="card-body">
            <h5 class="card-title">Juicy Lucy Cheeseburgers & Fries</h5>
            <p class="card-text">Cheese-stuffed ground beef patty topped with lettuce, tomatoes, pickles, southwest chipotle sauce, and kettle chips. Served with french fries.</p>
            <p class="card-text"><small class="text-muted">Per person price: $9.99 (10 person minimum)</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../../assets/images/curry.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Indian Curry</h5>
            <p class="card-text">Lamb meat spiced and marinated in a ground turmeric, cumin, and fresh dried chilies sauce. Served over a bed of wild rice. Akhil's own recipe!</p>
            <p class="card-text"><small class="text-muted">Per person price: $10.99 (10 person minimum)</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../../assets/images/tacos.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Mexican Tacos</h5>
            <p class="card-text">Seasoned ground beef mixed with cheddar cheese and served on hard or soft tortilla shells, topped with lettuce, tomato, onions, olives, and sour cream.</p>
            <p class="card-text"><small class="text-muted">Per person price: $9.99 (8 person minimum)</small></p>
            </div>
        </div>
        </div>
</div>
